{{> header title="Π Wide Area Network"}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <p>π Wide Area Network </p>
        <p>Use Your Untapped Resource and Internet Bandwith To Compute Packet and Earn PI</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <div id="info">

        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <div>
            Sample Of The Piwan Game
        </div>
        <span>
            Soon Will Be Multiplayer! By Playing You're Accelerating Development of Network Infrastructure,
            See about Piwan
        </span>
        <h3>Snake Kite</h3>
        <canvas id="game"></canvas>
    </div>
</div>
<script src="{{gameSource}}"></script>
{{> footer}}