{{> header title="Π Wide Area Network - About"}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col text-white">
        <img src="/assets/piwan-social.jpg" alt="piwan-social">
        <h5>What Its is?</h5>
        <p>Just Like The Image the COMPUTER HUG EACH OTHER NODE TO HELP Transporting DATA of GAME ONLINE PACKET.</p>
        <h5>Have a Question About How Isp Works and Earn ?</h5>
        <p>
            if you had that question, its a long answer basicly Build Network Infrastructure ,
            Placing Router OUTDOOR and INDOOR , CONFIGURE the DEVICE , and PROVIDING its Network as as INTERNET SERVICE PROVIDER to be
            INTERCONNECTED , HAVE PEOPLE MAINTAIN THAT INFRASTRUCUTRE OF NETWORK so its become INTERNET.
        </p>
        <h5>What This Project About?</h5>
        <p>This Project AIM to build a WIDE NETWORKS by COLLECTIVE EITHER ITS ISP OR SINGLE PERSON of NETWORK MAINTAINER and be a DATA BROKER on
            INTERNET to be used as DATA TRANSPORT mainly will be focused COMPUTE ONLINE GAMES PACKET and Automate its PAYMENT and EARNING.</p>
        <h5>Why Its Needed and The Backgrounds?</h5>
        <p>
            So many of users cannot play online games because Internet Provider NAT their networks behind strict
            firewall or transparent proxying of dns. To Bypass that many users use VPN to simulate the Local Network
            Connection on and create Virtual Private Network for their online session or the GAMES Company Providing a
            CLOUD Server to route it known as a Broker or Server.
        </p>
        <p>
            if you use connection that did not has public IPv4 Address that casted to DMZ , port forwarded, or using
            UPNP feature of a ROUTER on the NET essentialy many of your packet is not delivered to other peers
            successfully,blocked by firewall,and not DELIVERED to other peers in time HANGING UNKNOWNLY on the VOID of
            THE NETWORK. that behavior cause some lag between peers or ghosting behavior that they did not see the other
            users they play with. the requirement is also hard and expensive to get in some Internet Service Provider.
            Games Online often need to provide server for their game and HOST MACHINE that acts as a Broker / Server to
            transport THE PACKET within the time agreements DEFINED in the GAME.
        </p>
        <p>
            This Project AIM to provide that Wide Network for to be used on PI known APPS that relevant and FAST to use
            as Online Games or Multiplayer Games BASE NETWORK that need to communicate CLIENT data over the NET with aim
            of fast packet TRANSPORT that has LOW LATENCY OR SPECIFIED BY THE GAME and TUNNELED into SECURE NETWORKS.
        </p>
        <p>
            Only the GAME PACKET allowed in with THEIR TOKEN and the TOPIC and packet TYPE the Games Online Needs and
            IGNORE other UNRELEVANT PACKET that passing the NETWORKS. The Requirement is that HOST Machine must has
            public IPv4 address to be used as a Router / Broker of GAMEDATA and PREFERABLE USE UNLIMITED INTERNET
            BANDWITH to only be used for a SERVICE OF COMPUTING GAME packet just like becoming a CLOUD SERVICE PROVIDER
            and ISP , DO A JOB OF A PUBLIC ROUTER that AUTOMATE share of the PAYMENT if THE PROMISED PACKET LATENCY
            succesfuly DELIVERED. ITS ALSO CAN BE USED TO FIGHT CENSORSHIP BY HAS SO MANY OF DECENTRALIZED HOST.
        </p>
        <p>
            Essentialy this project also become A NET Of Shared Broker to use in the purpose of Multiplayer Game Only as
            Wide Area Network Route and integrated to your PI account.
        </p>

        <h5>The Focus and Scheme of the PROJECT</h5>
        <p>
            <li>The HOST as BROKER must have the basic requirement, Connected to INTERNET , PUBLIC IPv4 and Has DATA BANDWITH</li>
            <li>The PIWAN NODE PROGRAM as HOST of BROKER MUST RUN ON TOP PRIORITY (-20).</li>
            <li>
                Entering and Connected as a CLIENT that PLAY ONLINE GAME must PAY using PI balance and get a ticket till
                the specified time that TICKET Expired  or THE TICKET CREDIT EXHAUSTED, Use DEFINED Constant of Latency DESIRED BY THE GAME TOKEN for
                THIS data used and counted as PROMISE REQUEST, and PROOF OF SPEND in SMART CONTRACT the value of SPEND will be used as TICKET CREDIT to USE THE NETWORKS.
            </li>
            <li>
                The Broker or HOST That Run PIWAN Node with their public IP and HAD UNLIMITED OR SOME BANDWITH that acts
                as a Broker and transport FACILITATE as Online Game Sessions Service, Essentialy TRANSPORTING PROMISE
                REQUEST DATA to PEERS that play in the NETWORKS and deliver it succesfully with the specified PACKET
                LATENCY, EARN from THAT TICKET a PI Balance.
            </li>
            <li>
                The Project also HAS IMPACT to the ECOSYSTEM and VALUE of PI BY PI USER TRANSFERING ITS PI By PAYING AND
                PLAYING GAME with GOOD EXPERIENCE BECAUSE IN TOP PRIORITY NETWORK WITH SPECIFIED LATENCY NEEDED BY THE
                GAME
                , AND HOST EARN PI for Facilitating THEIR GAME SESSION with THEIR BANDWITH and NETWORK INFRASTRUCTURE.
            </li>
        </p>
        <p>
            Maintaining NETWORK INFRASTRUCTURE need alots of MONEY and PAYMENTS its undeniable cause COMPANY ALSO PAY
            their own ELECTRICITY and ISP BILLS to PROVIDE an ONLINE SERVICE and BECOME HOST to OTHER, SO WE BUILD This
            PROJECT so its AUTOMATE the REWARD of DOING PACKET TRANSFER OR BUILDING NETWORKS that FAST and HAS LOW
            LATENCY also SECURE TO USE.
        </p>
        <p>
            ISP also has many WORK just the KEEP INTERNET GOING on BY MAINTAINING THE MACHINE or ROUTER THAT USED TO
            TRANSFER PACKET,INDOOR OR OUTDOOR ROUTER and THE CABLE or THEIR TRANSMITTER AND RECEIVER so we need
            something to keep them MOTIVATED DOING THAT , WHAT IT IS IF IS NOT a CHALLENGE TO BE BETTER PROVIDER or a
            REWARD to DOIT. SO MANY OF THEIR EMPLOYEE ALSO GO TO HIGH PLACE JUST to BUILD THAT NETWORK INFRASTRUCTURE
            its need a FAIR REWARD , FAIRSHARE and TRANSACTION ON THE NET OF DOING IT EXPOSED on THE MAIN NET TO THEIR
            WALLET for the GROUP OF ISP COMPANY as EMPLOYEE OR FOR a PERSONAL DOING THAT JOB ALSO.
        </p>
        <p>
            So the CONCLUSION IS Instead of only use UNTAPPED RESOURCE ON MINING PI, IF YOUR DEVICE and UNTAPPED
            RESOURCE of the COMPUTER can ALSO DELIVER INTERNET BANDWITH RESOURCE to facilitate other as HOST of
            COMPUTING AND TRANSPORTING GAME PACKET AS SPECIFIED LATENCY IN THE PROMISE REQUEST it will become CHALLENGE
            OF BUILDING MORE NETWORK NODE to be as FAST as POSSIBLE and HAD GOOD TOPOLOGY to Meet the PROMISE REQUEST
            SPECIFICATION latency.
        </p>
        <p>Sincere , GMNP</p>
    </div>
</div>
{{> footer}}