{{> header title="Π Wide Area Network - PI Network Authentication"}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <p>π Wide Area Network - PI Network Integration</p>
        <p>Still Testing The PI SDK on Sandbox Environment</p>
        <p>The Project On Github will be opened to public once hackathon period on mainnet ended</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <div id="info">
        </div>
        <button id="piauth" class="mdl-button mdl-js-button mdl-button--raised">
            Authenticate
        </button>
    </div>
</div>
<script src="https://sdk.minepi.com/pi-sdk.js"></script>
<script src="{{authSource}}"></script>
{{> footer}}