{{> header title="Π Wide Area Network"}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <p>π Wide Area Network </p>
        <p>Use Your Untapped Resource and Internet Bandwith To Compute Packet and Earn PI</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <div id="info">

        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <div>
            Sample Of The Piwan Game
        </div>
        <span>
            Soon Will Be Multiplayer! By Playing You're Accelerating Development of Network Infrastructure,
            See about Piwan
        </span>
        <h3>Snake Kite</h3>
        <canvas id="game"></canvas>
    </div>
</div>
<script src="https://sdk.minepi.com/pi-sdk.js"></script>
<!-- <script src="{{authSource}}"></script> -->
<script src="{{gameSource}}"></script>

<script>
    var isBrowser = new Function("try {return this===window;}catch(e){ return false;}");
    async function init() {

        if (!isBrowser()) throw Error("This is not browser environment");

        window.addEventListener('DOMContentLoaded', async (evt) => {
            const INFO = document.querySelector('#info');
            const scopes = ['username', 'payments', 'wallet_address'];
            console.log("Document Fully Loaded");
            try {
                const Pi = window.Pi;
                let LoadPi = await Pi.init({ version: "2.0", sandbox: true });
                let User = await Auth();
                const user = await Auth();
                INFO.innerHTML(user);
                console.log(User);
            } catch (e) {
                INFO.innerHTML(e);
            }
        });

        function onIncompletePayment(payment) {
            console.log("Auth User", payment);
        }

        async function Auth() {
            return await Pi.authenticate(scopes, onIncompletePayment);
        }
    };

    try {
        init();
    } catch (e) {
        console.error(e);
    }

</script>
{{> footer}}