{{> header title="Π Wide Area Network - Network"}}
<link rel="stylesheet" href="https://piwan.net/assets/clock.css">
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <h3 class="text-white">π Wide Area Network - Control Panel</h3>
    </div>
    <div class="mdl-cell mdl-cell--12-col text-white center-items">
        <div class="text-white">We Flight , Receive , and Stamp On Same Time</div>
        <div class="text-white">PiWAN is now still running under sandboxed Test Net</div>
        <div class="digital-clock"></div>
        <div class="clock">
            <div class="outer-clock-face">
                <div class="marking marking-one"></div>
                <div class="marking marking-two"></div>
                <div class="marking marking-three"></div>
                <div class="marking marking-four"></div>
                <div class="inner-clock-face">
                    <div class="hand hour-hand"></div>
                    <div class="hand min-hand"></div>
                    <div class="hand second-hand"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col text-white">
        <div class="mdl-card" style="width: 100%;">
            <div class="mdl-card__title">
                <h5 class="text-black">π-tm</h5>
            </div>
            <div class="mdl-card__supporting-text">
                <div>What is this ? π-tm is a custom ntp protocol to use as stamp of time by π-tm node that connected across global IP to piwan.net technically all broker has this program under the hoods</div>
                <div class="text-black">Piwan Times Message Network Protocol Timestamp</div>
                <div class="text-black">Network Time Based On Collective Nodes Packet</div>
                <div class="text-black">π-tm IPv4 Address : {{IPv4_client}}</div>
                <div class="text-black">π-tm IPv6 Address : {{IPv6_client}}</div>
                <div class="text-black">π-tm running : {{PiTM_Running}}</div>
            </div>
            <div class="mdl-card__actions">

            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col text-white">
        <div class="mdl-card" style="width: 100%;">
            <div class="mdl-card__title">
                <h5 class="text-black">πwan-udp</h5>
            </div>
            <div class="mdl-card__supporting-text">
                <div>What is this ? Pure Piwan udp connection if the host running πwan-udp and intermediate game packet</div>
                <div class="text-black">πwan-udp IPv4 Address : {{IPv4_client}}</div>
                <div class="text-black">πwan-udp IPv6 Address : {{IPv6_client}}</div>
                <div class="text-black">πwan-udp node running : {{udp_running}}</div>
            </div>
            <div class="mdl-card__actions">

            </div>
        </div>

    </div>
    <div class="mdl-cell mdl-cell--4-col text-white">
        <div class="mdl-card" style="width: 100%;">
            <div class="mdl-card__title">
                <h5 class="text-black">πwan-tcp</h5>
            </div>
            <div class="mdl-card__supporting-text">
                <div>What is this ? Pure Piwan tcp connection if the host running πwan-tcp and intermediate game packet</div>
                <div class="text-black">πwan-tcp IPv4 Address : {{IPv4_client}}</div>
                <div class="text-black">πwan-tcp IPv6 Address : {{IPv6_client}}</div>
                <div class="text-black">πwan-tcp node running : {{tcp_running}}</div>
            </div>
            <div class="mdl-card__actions">

            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col text-white">
        <div class="mdl-card" style="width: 100%;">
            <div class="mdl-card__title">
                <h5 class="text-black">πwan-ws</h5>
            </div>
            <div class="mdl-card__supporting-text">
                <div>What is this ? a Piwan node address that use WebSocket connection into mainnet running πwan-ws either on client or server</div>
                <div class="text-black">πwan-wss IPv4 Address : {{IPv4_client}}</div>
                <div class="text-black">πwan-wss IPv6 Address : {{IPv6_client}}</div>
                <div class="text-black">πwan-wss node running : {{wss_running}}</div>
            </div>
            <div class="mdl-card__actions">

            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col text-white">
        <div class="mdl-card" style="width: 100%;">
            <div class="mdl-card__title">
                <h5 class="text-black">Log Audit</h5>
            </div>
            <div class="mdl-card__supporting-text" style="height: 150px;">
                <span id="logger" style="height: 120px;" class="text-black"></span>
            </div>
        </div>
    </div>
</div>
<script src="{{jsSource}}"></script>
{{> footer}}